<%= turbo_frame_tag 'order_form' do %>
  <%= form_with(model: @order, local: true) do |form| %>
    <div>
       <%= form.label :promotion_codes, style: "display: block" %>
       <%= form.collection_check_boxes(:promotion_codes, @promotions.keys, :itself, :itself) do |check_box| %>
          <%= check_box.check_box %>
          <%= check_box.label %>
        <% end %>
    </div>
    <div>
     <%= form.label :discount_code, style: "display: block" %>
     <%= form.select :discount_code, options_for_select(@discounts.keys), include_blank: true %>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>