<strong>Add Ingredients:</strong>
<%= form_with(model: [@item.order, @item]) do |form| %>
  <% if @item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.select :name, options_for_select(@pizzas.keys) %>
    <%= form.select :size, options_for_select(@size_multipliers.keys) %>

  </div>


  <div>
    <%= form.label :add, style: "display: block" %>
    <%= form.collection_check_boxes(:add, @ingredients.keys, :itself, :itself) do |check_box| %>
      <%= check_box.check_box %>
      <%= check_box.label %>
    <% end %>
  </div>

  <div>
    <%= form.label :remove, style: "display: block;" %>
     <%= form.collection_check_boxes(:remove, @ingredients.keys, :itself, :itself) do |check_box| %>
      <%= check_box.check_box %>
      <%= check_box.label %>
    <% end %>
  </div>

  <div>
    <%= form.hidden_field :order_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
